<div class="container-fluid">
  <div class="row" ng-controller="SingleEventCtrl">
    <div class="col-lg-12" >
      <div class="panel panel-primary">
        <div class="col-lg-12 panel-heading">
          <h3><strong>Editar evento</strong><br>
          <small>Seleccione dato a cambiar dentro del evento seleccionado</small></h3>
        </div>
        <div class="well bs-component">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
            <!--errors-->
              <div ng-if="errors.name != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.name}}</p>
              </div>
              <div ng-if="errors.password != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.password}}</p>
              </div>
              <div ng-if="errors.country != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.country}}</p>
              </div>
              <div ng-if="errors.market != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.market}}</p>
              </div>
              <div ng-if="errors.initDate != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.initDate}}</p>
              </div>
              <div ng-if="errors.endDate != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.endDate}}</p>
              </div>
              <!--/ errors-->
              <form class="form-horizontal"  name="editEvent">
                <fieldset>
                  <form-field ng-repeat="(key, value) in eventFields" errors="errors" record="eventFields" field="{{key}}" live="false" required="true" >
                  </form-field>
                  <div class="form-group">
                    <div class="col-lg-12 col-xs-12">
                      <div class="col-lg-6">
                        <a  class="btn btn-danger btn-lg btn-block" ng-click="delete()">Eliminar evento <img src="/img/png/eliminarevento.png"></a>
                      </div> 
                      <div class="col-lg-6">
                        <button class="btn btn-primary btn-lg btn-block" ng-click="update()" type="">Actualizar evento <img src="/img/png/actualizarevento.png"></button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>