<!-- form angular. hack -> $dirty si es que cambio alguno de sus input (en este caso 1) $invalid si hay un error segun el controlador-->
<!-- {{field}} significa que es una referencia al scope field creado en el template padre (plantilla <form-field> en new.html)-->
<div class="row form-group" ng-form="{{ field }}">
	<div ng-if="record[field][1] == true">			
		<!--siwtch angular case:'required'-->
		<div class="col-lg-12" ng-switch="required">
			{{ userFieldsName[field] }} <span ng-if="required">*</span>
			<!--switch true -->
			<!--record, field, parametros en tag form-input padre-->
			<!--ng-blur -> actualiza cuando el usuario blur de input (pierde el foco)-->
			<div class="" ng-switch-when="true">
				<input ng-if="record[field][0] != 'select'"  ng-model ='record.userObj[0][field]' type="{{record[field][0]}}" class="form-control" required ng-change="update()" ng-blur="blurUpdate()" value="{{record.userObj[0][field]}}"/>
				<!--<input ng-if="record[field][0] == 'select' && record.userObj[0][field]!='' "  ng-model ='record.userObj[0][field]' type="text" class="form-control" value="{{record.userObj[0][field]}}" disabled/>-->
				<select ng-if="record[field][0] == 'select'" ng-model ='record.userObj[0][field]' type="select" class="form-control" required ng-change="update()" ng-blur="blurUpdate()">
					<option value="-1"  ng-blur="blurUpdate()">Seleccionar..</option>
					<option value="{{selectItem.value}}" ng-repeat="selectItem in record[field][2]" value="{{selectItem.value}}">{{selectItem.name}}</option>				
				</select>
			</div>
			<!--switch default -->
			<div class="" ng-switch-default>
				<input ng-if="record[field][0] != 'select'"  ng-model ='record.userObj[0][field]' type="{{record[field][0]}}" class="form-control" required ng-change="update()" ng-blur="blurUpdate()" value="{{record.userObj[0][field]}}"/>
				<!--<input ng-if="record[field][0] == 'select' && record.userObj[0][field]!='' "  ng-model ='record.userObj[0][field]' type="text" class="form-control" value="{{record.userObj[0][field]}}" disabled/> -->
				<select ng-if="record[field][0] == 'select'" ng-model ='record.userObj[0][field]' type="select" class="form-control" required ng-change="update()" ng-blur="blurUpdate()">	
					<option value="-1"  ng-blur="blurUpdate()">Seleccionar..</option>	
					<option value="{{selectItem.value}}" ng-repeat="selectItem in record[field][2]" value="{{selectItem.value}}">{{selectItem.name}}</option>					
				</select>
			</div>
		</div>
	</div>
</div>