<!-- form angular. hack -> $dirty si es que cambio alguno de sus input (en este caso 1) $invalid si hay un error segun el controlador-->
<!-- {{field}} significa que es una referencia al scope field creado en el template padre (plantilla <form-field> en new.html)-->
<div class="row form-group" ng-form="{{ field }}">
	<div ng-if="record[field][1] == true">			
		<label class="col-lg-2 control-label"> {{ field  }} <span ng-if="required">*</span></label>
		
		<!--siwtch angular case:'required'-->
		<div class="col-lg-10" ng-switch="required">
			
			
			<!--switch true -->
			<!--record, field, parametros en tag form-input padre-->
			<!--ng-blur -> actualiza cuando el usuario blur de input (pierde el foco)-->
			
			<div class="" ng-switch-when="true">
				<input ng-if="record[field][0] != 'select'"  ng-model ='record.eventoObj[0][field]' type="{{record[field][0]}}" class="form-control" required ng-change="update()" ng-blur="blurUpdate()" value="{{record.eventoObj[0][field]}}"/>
				<span>field: {{record.eventoObj[0][field]}}</span>
				<select ng-if="record[field][0] == 'select'" ng-model ='record.eventoObj[0][field]' type="select" class="form-control" required ng-change="update()" ng-blur="blurUpdate()">
					
					<option>Seleccionar..</option>

					<option value="{{selectItem.value}}" ng-repeat="selectItem in record[field][2]" value="{{selectItem.value}}" ng-blur="blurUpdate()">{{selectItem.name}}</option>				
				</select>
			</div>


			<!--switch default -->
			<div class="" ng-switch-default>
				
				<input ng-if="record[field][0] != 'select'"  ng-model ='record.eventoObj[0][field]' type="{{record[field][0]}}" class="form-control" required ng-change="update()" ng-blur="blurUpdate()" value="{{record.eventoObj[0][field]}}"/>
				<span>field: {{record.eventoObj[0][field]}}</span>
				<select ng-if="record[field][0] == 'select'" ng-model ='record.eventoObj[0][field]' type="select" class="form-control" required ng-change="update()" ng-blur="blurUpdate()">
					<option>Seleccionar..</option>
					<option value="{{selectItem.value}}" ng-repeat="selectItem in record[field][2]" value="{{selectItem.value}}" ng-blur="blurUpdate()">{{selectItem.name}}</option>					
				</select>

			</div>
		</div>
	</div>


</div>