<div class="container-fluid">
  <div class="row" ng-controller="SingleUserCtrl">
    <div class="col-lg-12" >
      <div class="panel panel-primary">
        <div class="col-lg-12 panel-heading">
          <h3><strong>Editar usuario</strong><br>
          <small>Seleccione dato a cambiar dentro del usuario seleccionado</small></h3>
        </div>
        <div class="well bs-component">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!--errors-->
              <div ng-if="errors.name != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.name}}</p>
              </div>
              <div ng-if="errors.password != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.password}}</p>
              </div>
              <div ng-if="errors.market != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.market}}</p>
              </div>
              <div ng-if="errors.email != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.email}}</p>
              </div>
              <div ng-if="errors.type != null " class="alert alert-dismissible alert-warning">
                <p>{{errors.type}}</p>
              </div>
              <!--/ errors-->
              <form class="form-horizontal"  name="editUser">
                <fieldset>
                  <user-field ng-repeat="(key, value) in userFields" errors ="errors" record="userFields" field="{{key}}" live="false" required="true" ></user-field>
                  <div class="form-group">
                    <div class="col-lg-12 col-xs-12">
                      <div class="col-lg-6">
                        <a  class="btn btn-danger btn-lg btn-block" ng-click="delete()">Eliminar usuario <img src="/img/png/eliminarusuario.png" ></a>
                      </div>
                      <div class="col-lg-6"> 
                        <button class="btn btn-primary btn-lg btn-block" ng-click="update()" type="">Actualizar usuario <img src="/img/png/actualizarusuario.png" ></button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>